*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

:root {

   --fw-reg:300;
   --fw-bold:900;

   --clr-bg:#ffff;
   --clr-text:#25160d;
   --clr-accent:#f6deb1;
   --clr-bg-dark: #918164;

   --fs-h1: 3rem;
   --fs-h2: 2.25rem;
   --fs-h3:1.25rem;
   --fs-body:1rem;

   --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.45) ,
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.2);

    --bs2: -0.25em 0.25em 0.75em rgba(0, 0, 0, 0.45) ,
        -0.125em 0.125em 0.25em rgba(0, 0, 0, 0.2);
}


/* general styles */

body {
    background-color: var(--clr-bg);
    color: var(--clr-text);
    margin: 0;
    font-family: 'nunito sans' , sans-serif;
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold);}

/* button styling */

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-text);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* typography */

h1,
h2,
h3 {
    font-family: 'roboto' , sans-serif;
    line-height: 1;
    margin: 0;
}
h4 {
    font-family: 'Handlee', cursive;
    line-height: 1;
    font-size: 1.5em;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

section {
    padding: 5em 2em;
}
.intro {
    position: relative;
  
  }

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
.section__subtitle--intro,
.section__subtitle--about {
display: inline-block;
background-color: var(--clr-accent);
padding: .25em 2em;
margin-bottom: 1em;

}

.intro-img {
    box-shadow: var(--bs);
}

.about-me {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
   
  }
  
  
  .about-me img {
    box-shadow: var(--bs2);
  }
  

/* MEDIA QUERIES */

@media (min-width: 1000px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
    
}

@media (max-width: 800px) and (min-width: 600px) {
    #first::after {
        content: "\a";
        white-space: pre;
    }
   
}
@media (max-width: 600px) {
.footer > .copyright {
    font-size: 0.9em;
}
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        column-gap: 1em;
        grid-template-areas: 
        'img title'
        'img subtitle' ;
        grid-template-columns: min-content max-content;
    }

    .intro-img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -2em;
        width: calc(100% + 2em);
    }

      .about-me {
        display: grid;
        grid-template-columns: 1fr 250px;
        margin: 0 auto;
        column-gap: 2em;
        grid-template-areas: 
        'title img'
        'subtitle img'
        'text img' ;
       
    }
    .section__title--about  {
      grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(250px + 4em);
        /* margin-bottom: -.125em; */
    }

      
    .about-img {
        grid-area:img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    
}
@media (min-width: 800px) {
    .works {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .work-type {
        width: 33.33%;
    }
    .work-type + .work-type {
        margin-left: 2em;
    }
   
}

.my-skills {
background-color: var(--clr-bg-dark);
background-image: url(../Images/background3.jpg);
background-size: cover; 
opacity: 85%;
background-blend-mode: multiply;
color: var(--clr-bg);
text-align: center;
}

.section__title--works {
    color: var(--clr-accent);
      position: relative;
}

.section__title--works::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: currentColor;
    opacity: 0.25;
}

.works {
     margin-bottom: 3em;
}

.work-type {
    max-width: 500px;
    margin: 0 auto;
   
}

.my-work {
    /* background-color: var(--clr-bg-dark); */
    color: var(--clr-text);
    text-align: center;
   
}

.section__subtitle--work {
    font-weight: var(--fw-bold);
     margin-bottom: 2em;
}

.portfolio {
    background-color: var(--clr-accent);
    padding: 2em;
}

.my-work > .categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    gap: 2em;
    padding: 2em 1em;
    align-items: center;
    justify-items: center;
}
.category{
    width: fit-content;
    display: flex;
    justify-content: center;
}

.category h3 {
    font-size: 1em;
}

/* .portfolio-title {
    padding: 1em;
} */
.portfolio-title a {
    outline: none;
}
.portfolio-subtitle {
    text-decoration: none;
    color: var(--clr-text);
   
}

.portfolio-images {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    gap: 1em;
}

.big-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
    padding: 0 3em;
    gap: 2em;
}
.small-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    margin: 2em auto;
    gap: 1em;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio__item a {
max-width: 100%;
max-height: 100%;
border-radius: 10px;
/* object-fit:contain; */

}

.portfolio__img {
    background-color: var(--clr-accent);
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.portfolio__img-big {
    background-color: var(--clr-accent);
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}



/* .portfolio-images .wide {
    grid-column: span 2;
   
}
.portfolio-images .tall {
    grid-row: span 2;
   
}
.portfolio-images .big {
    grid-column: span 2;
grid-row: span 2;

} */



#scroll-btn {
    margin-top: 25px;
}