.footer {
    height: 200px;
    color: #473C33;
    align-items: center;
    padding: 0px 60px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    
    
}

.footer > .navigation-links {
    display: flex;
    gap: 3em;
    justify-content: center;
    align-content: center;
    

}

.footer > .navigation-links > .navigation a {
    color: var(--clr-text);
    font-size: 1.2em;
    text-decoration: none;
}

.footer > .social-links {
    display: flex;
    gap: 3em;
    justify-content: center;
    padding: 10px 40px;
    align-items: center;

}

.footer > .social-links a {
color: var(--clr-text);
font-size: 1.5em;
}

.footer > .copyright {
   color: var(--clr-text);
   opacity: 85%;
  
}