.nav {display: none;}

/* intro section */

.intro {
  position: relative;

}

.about-me {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
 
}


.about-me img {
  box-shadow: var(--bs2);
}



/* @media (max-width: 900px) and (min-width: 600px) {
  #first::after {
      content: "\a";
      white-space: pre;
  }
} */
