header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}

.left {
    width: 50%;
}

.left a {
    
    font-family: 'Handlee', cursive;
    font-size: 2em;
    color: #25160d;
    text-decoration: none;
    transition: 0.5s;
}

.left a:hover {
    letter-spacing: 4px;
    }

    @media (max-width: 800px) {
        .left a {
            font-size: 1.5em;
        }
    }

    @media (max-width: 600px) {
        .left a:hover {
            letter-spacing: 2px;
        }
    }

    .nav-toggle {
        padding: .5em;
        background: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        right: 1em;
        top: 2.5em;
        z-index: 1000;
    }

    .hamburger {
        display: block;
        position: relative;
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background: var(--clr-text);
        width: 2em;
        height: 3px;
        border-radius: 1em;
        transition: transform 250ms ease-in-out;
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
    }
    .hamburger::before {top:6px;}
    .hamburger::after {bottom: 6px;}
    
 .nav {
    position: fixed;
    background: var(--clr-accent);
    color: var(--clr-bg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translatex(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1) ;
 }

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #25160d;
    
}
.nav__link {
    color: inherit;
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    transition: 0.5s;
}

.nav__link:hover {
    opacity: 0.8;
    letter-spacing: 4px;
}


